*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  /* Paleta de cores Nubank */
  --color-fin-100: #ffffff; 
  --color-fin-200: #9c44dc; 
  --color-fin-300: #543b6c; 
  --color-fin-400: #442c61; 
  --color-fin-500: #9c645c; 
  --color-fin-600: #d0b7b0; 
  --color-fin-700: #231536;
}



body {
  background-color: #f4f6f4; 
  color: var(--color-fin-500);
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

/* Animações Nativas */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: .5; }
}

.animate-fade-in {
  animation: fadeIn 0.4s ease-out forwards;
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}