@import "tailwindcss";

/* 1. Primeiro, declaramos as variáveis para o Tailwind conhecer */
@theme {
  --color-fin-100: #477A3A;
  --color-fin-200: #355B2C;
  --color-fin-300: #233D1D;
  --color-fin-400: #121E0F;
  --color-fin-500: #000000;
}

body {
  background-color: #f4f6f4; 
  color: var(--color-fin-500);
}

/* 2. Depois, importamos os estilos estruturais que utilizam essas variáveis */
@import "./LayoutPrincipal.css";